.center-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Optionally, set a specific height for vertical centering */
}
.div-left{
   
}
.div-right{
    /* background-color: red; */
}
.container-watchlist-feature{
/* background-color: bisque; */
overflow-x: hidden;
width: 80%;
margin:auto;

/* background-color: black; */


}

.watchlist-animator{
    /* background-color: red; */
    display:flex;
    box-shadow: inset 20px 0 15px -10px white, inset -20px 0 15px -10px white;
    margin-top:15%;

}
.watchlist-animator img{
    
    animation: move-left 30s linear, fade-in 10s;
    width: 150px;
    z-index: -1;
    
}


.card{
    border: none !important;
    background-color: transparent !important;
}
.card-header{
    border:none !important;
    
}
.card-body{
    border: none !important;
}
.card-footer{
    border: none !important;

}
@keyframes move-left{
    from{
        transform: translateX(25%);

    }
    to{
        transform: translateX(-100%);

    }
}
@keyframes fade-in {
    from{
        opacity:0.0;
    }
    to{
        opacity: 1;
    }
}

